{% extends "CurbaGardeningBundle::layout.html.twig" %}

{% block body_header %}
{% endblock %}

{% block body_content %}
    <h1>Garden {{ garden.name }}</h1>
    {% for zone in zonesAndCropsAndActions %}
        <h2>Zone {{ zone[0] }}</h2>
        
        <p>
            Zone Area {{ zone[0].getArea()|number_format(2) }} m2, Volume {{ zone[0].getVolume()|number_format(2) }} l
            -> 
            Consumed Area {{ zone[2]|number_format(2) }} m2, Volume {{ zone[3]|number_format(2) }} l
        </p>

        <table class="plant">
            <tr>
                <th class="plant">Crop</th>
                <th class="plant">Plants</th>
                <th class="plant">Area</th>
                <th class="plant">Volume</th>
                <th class="plant">Do</th>
            </tr>
            {% for crop in zone[1] %}
            <tr>
                <th>{{ crop[0] }}</th>
                <td>{{ crop[0].getNumPlants()|number_format(0) }}</td>
                <td>{{ crop[0].getArea()|number_format(2) }}</td>
                <td>{{ crop[0].getVolume()|number_format(2) }}</td>
                <td>
                    <a href="{{ path('garden_harvest', { 'id': crop[0].id }) }}">Harvest</a> |
                    <a href="{{ path('garden_watering', { 'id': crop[0].id }) }}">Watering</a> |
                    <a href="{{ path('garden_prune', { 'id': crop[0].id }) }}">Prune</a> |
                    <a href="{{ path('garden_finish_crop', { 'id': crop[0].id }) }}">Finish</a>
                </td>
            </tr>
                {% for action in crop[1] %}
                <tr>
                    <th></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ action.getInstanceDate()|date("Y-M-d H:i:s") }} {{ action.getActionType() }} {{ action.description }}: {{ action.value }} {{ action.valueUnit }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table> 

    {% endfor %}        
{% endblock %}

{% block body_lateral %}
    <br/>
    <a href="{{ path('main') }}">Main</a>
    <br/>
    <br/>
    <form action="{{ path('garden_new_crop', { 'id': garden.id }) }}" method="post" {{ form_enctype(formCrop) }}>
        {{ form_widget(formCrop) }}
            <input type="submit" title="Create crop" value="Create crop" />
    </form>
    <br/>
    <form action="{{ path('garden_new_zone', { 'id': garden.id }) }}" method="post" {{ form_enctype(formZone) }}>
        {{ form_widget(formZone) }}
            <input type="submit" title="Create zone" value="Create zone" />
    </form>
{% endblock %}

{% block body_footer %}
{% endblock %}