{% extends "CurbaGardeningBundle::layout.html.twig" %}

{% block body_header %}
Plants table
{% endblock %}

{% block body_content %}
<small>

{% for plant in plants %}
    <h2>{{ plant.ScientificName }}</h2>
    <table class="plant">
      <body>
        <tr>
          <th class="plant">Name</th>
          <td>{{ plant.Name }}</td>
        </tr>
        <tr>
          <th class="plant">Scientific name</th>
          <td>{{ plant.ScientificName }}</td>
        </tr>
        <tr>
          <th class="plant">PlantFamily</th>
          <td>{{ plant.PlantFamily }}</td>
        </tr>
        <tr>
          <th class="plant">Productivity</th>
          <td>{{ plant.Productivity }}</td>
        </tr>
        <tr>
          <th class="plant">Plant Spacing</th>
          <td>width: {{ plant.WidthSpacing }}, height:{{ plant.HeightSpacing }}</td>
        </tr>
        <tr>
          <th class="plant">SoilVolume</th>
          <td>{{ plant.SoilVolume }}</td>
        </tr>
        <tr>
          <th class="plant">FertilizerType</th>
          <td>{{ plant.FertilizerType }}</td>
        </tr>
        <tr>
          <th class="plant">LifeCicleType</th>
          <td>{{ plant.LifeCicleType }}</td>
        </tr>
        <tr>
          <th class="plant">ClimateType</th>
          <td>{{ plant.ClimateType }}</td>
        </tr>
        <tr>
          <th class="plant">SoilType</th>
          <td>{{ plant.SoilType }}</td>
        </tr>
        <tr>
          <th class="plant">IrrigationType</th>
          <td>{{ plant.IrrigationType }}</td>
        </tr>
        <tr>
            <td><a href="{{ path('show_plant_info', {'id': plant.getId()} ) }}">Read more ...</a></td>
        </tr>
      </body>
    </table>
{% endfor %}
   
</small>
{% endblock %}

{% block body_lateral %}
<br/>
<a href="{{ path('main') }}">Main</a>
<br/>
<a href="{{ path('profile') }}">User profile</a>
<br/>
<form action="{{ path('plant') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
{% endblock %}

{% block body_footer %}
{% endblock %}