{% extends "CurbaGardeningBundle::layout.html.twig" %}

{% block title %}Perfil{% endblock %}
{% block metadesc %}Edición del perfil del usuario{% endblock %}
{% block pageid 'profile' %}

{% block body_content %}

<h1>Registro</h1>

{% if( app.session.flash('notice') ) %}
<div class="notice">
    <p>{{ app.session.flash('notice') }}</p>
</div>
{% endif %}

{{ form_errors(form) }}

<form action="{{ path('profile') }}" method="post" {{ form_enctype(form) }}>

    {{ form_errors(form.firstName) }}
    <p>
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
    </p>

    {{ form_errors(form.lastName) }}
    <p>
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}
    </p>

    {{ form_errors(form.locale) }}
    <p>
        {{ form_label(form.locale) }}
        {{ form_widget(form.locale) }}
    </p>

    {{ form_errors(form._token) }}
    {{ form_widget(form._token) }}
    
    
    
    {{ form_errors(form.lengthUnit) }}
    <p>
        {{ form_label(form.lengthUnit) }}
        {{ form_widget(form.lengthUnit) }}
    </p>

    {{ form_errors(form.massUnit) }}
    <p>
        {{ form_label(form.massUnit) }}
        {{ form_widget(form.massUnit) }}
    </p>

    {{ form_errors(form.volumeUnit) }}
    <p>
        {{ form_label(form.volumeUnit) }}
        {{ form_widget(form.volumeUnit) }}
    </p>

    {{ form_errors(form.temperatureUnit) }}
    <p>
        {{ form_label(form.temperatureUnit) }}
        {{ form_widget(form.temperatureUnit) }}
    </p>

    {{ form_errors(form.pressionUnit) }}
    <p>
        {{ form_label(form.pressionUnit) }}
        {{ form_widget(form.pressionUnit) }}
    </p>

    
    

    <input type="submit" value="Guarda" />
</form>
{% endblock %}

{% block body_lateral %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="user_info" href="{{ path('main', {'_locale': locale }) }}">Main</a>
    {% endif %}
{% endblock %}
