{% extends "CurbaGardeningBundle::layout.html.twig" %}

{% block body_header %}
    {% if app.session.flash('notice') %}
        <div class="notice">
            <p>{{ app.session.flash('notice') }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block body_content %}
    <h1>User gardens</h1>
    <ul>
      {% for garden in gardens %}
        <li>Garden {{ garden.name }} 
            <a href="{{ path('garden_editor', { 'id': garden.id }) }}">start to work</a> |
            <a href="{{ path('garden_index', { 'id': garden.id }) }}">information</a> | 
            <a href="{{ path('garden_history', { 'id': garden.id }) }}">history</a> | 
            <a href="{{ path('garden_edit', { 'id': garden.id }) }}">modify</a> |
            <a href="{{ path('station_new') }}">Create a new station</a>
            <ul>
              {% for station in stations %}
                {% if station.garden.id == garden.id %}
                <li>Station {{ station.name }} 
                    <a href="{{ path('station_edit', { 'id': station.id }) }}">(configura)</a> 
                    <a href="{{ path('station_upload', { 'id': station.id }) }}">(upload)</a> 
                    <a href="{{ path('station_chart', { 'id': station.id, 'index': 1 }) }}">(Weather day's average data)</a> 
                    <a href="{{ path('station_detailed_chart', { 'id': station.id, 'index': 1 }) }}">(Weather month data)</a> 
                    {#<a href="{{ path('station_detailed_day_chart', { 'id': station.id, 'index': 1 }) }}">(Weather day data)</a> #}
                    {#<a href="{{ path('station_summary', { 'id': station.id }) }}">(Month summary)</a> #}
                {% endif %}
              {% endfor %}
              <li><a href="{{ path('station_new', { 'id': garden.id }) }}">Create a new station</a></li>
            </ul>
            <a href="{{ path('garden_silverlight', { 'id': garden.id }) }}">old editor</a>
        </li>
      {% endfor %}
      <li><a href="{{ path('garden_new') }}">Create a new garden</a></li>
    </ul>
{% endblock %}

{% block body_lateral %}
    <br/>
    <a href="{{ path('default') }}">Begining</a>
    <br/>
    <a href="{{ path('profile') }}">User profile</a>
    <br/>
    <a href="{{ path('comp_plant') }}">Compatibility plant table</a>
    <br/>
    <a href="{{ path('crop_period') }}">Crop period table</a>
    <br/>
    <form action="{{ path('show_plant_info') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
    <br/>
    <form action="{{ path('show_plant_family_info') }}" method="post" {{ form_enctype(formFamily) }}>
        {{ form_widget(formFamily) }}
        <input type="submit" />
    </form>
{% endblock %}

{% block body_footer %}
{% endblock %}
