{% extends "CurbaGardeningBundle::layout.html.twig" %}

{% block body_header %}

{% endblock %}

{% block body_content %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="user_info" href="{{ path('main', {'_locale': locale }) }}">My gardening</a>
        <a class="user_info" href="{{ path('profile', {'_locale': locale }) }}">My profile</a>
    {% endif %}

    </br>
    
    <div>
        <p>
            Urvan Green, amb v, és una pàgina web que ofereix un hort Virtual (d'aquí la v) per tal de poder gestionar el teu hort Real.
            Planifica, dissenya, comparteix, estalvia temps, calcula el rendiment i millora el teu hort urbà dia a dia. aquesta pàgina t'avisarà quan plantar, que plantar, quines plagues hi pot patir, com combatre-les reduïnt al màxim l'ús de productes fitosanitaris.
            </br>
            Dissenya, planifica, controla el teu hort urbà!</br>
            Consulta dades meteorològiques.</br>
            Crea llistes de tasques.</br>
            Alarmes.</br>
            Planificar el teu hort mai ha sigut tan fàcil.</br>
        </p>
    </div>

    <div>
        <object style="height: 390px; width: 640px"><param name="movie" value="http://www.youtube.com/v/5ph-xibSdw8?version=3&feature=player_detailpage"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><embed src="http://www.youtube.com/v/5ph-xibSdw8?version=3&feature=player_detailpage" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" width="640" height="360"></object>
    </div>

{% endblock %}

{% block body_lateral %}
<div class="usuario">
    <form action="{{ path("login_check") }}" method="post" id="login">
        <div>
            <label for="username">Email</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>

        <div>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="_password" />
        </div>

        <input type="submit" class="symfony-button-grey" value="LOGIN" />
    </form>
</div>

</br>

<div class="usuario">
    <p>Are't you registered yet?</p>
    <a href="{{ path('register') }}">Sign Up!</a>
    <p>It's free and always will be.</p>
</div>

{% endblock %}

{% block body_footer %}
    </br>

    <div id="horitzontal" class="grid_5">
        <a href="{{ path('plant') }}">Plants</a>
        <p>Fitxes de plantes</p>
    </div>
    <div id="horitzontal" class="grid_5">
        <a href="{{ path('comp_plant') }}">Compatibility</a>
        <p>Taula de compatibilitat de plantes</p>
    </div>
    <div id="horitzontal" class="grid_5">
        <a href="{{ path('crop_period') }}">Crop periods</a>
        <p>Taules amb els períodes de plantació de les plantes</p>
    </div>
{% endblock %}
